Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra

chore(release): 3.3.0 [skip ci]
  plugins/tekton/CHANGELOG.md
  plugins/tekton/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  f5/856b5c9b26bdad6894fffb927b350664ea076f
Owners: @janus-idp/maintainers-plugins

chore(release): 1.17.1 [skip ci]
  plugins/topology/CHANGELOG.md
  plugins/topology/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  9c/d3936d181276dc2d30d6eecfc6a7abefeab064
Owners: @janus-idp/maintainers-plugins

fix(quay): fix ordering of vulneribilities based on severity
  plugins/quay/src/components/QuayRepository/tableHeading.tsx
  plugins/quay/src/lib/utils.data.ts
  plugins/quay/src/lib/utils.test.ts
  plugins/quay/src/lib/utils.ts
  plugins/quay/src/types.ts
Owners: @janus-idp/maintainers-plugins, @fmenesesg

feat(rbac): cleanup policies when a role is deleted
  packages/backend/package.json
  plugins/rbac/dev/index.tsx
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/DeleteRole.tsx
  plugins/rbac/src/components/DeleteRoleDialog.tsx
  plugins/rbac/src/components/EditRole.tsx
  plugins/rbac/src/components/RbacPage.test.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/hooks/useRoles.ts
Owners: @janus-idp/maintainers-plugins

feat(rbac): cleanup policies when a role is deleted (#1018)
  packages/backend/package.json
  plugins/rbac/dev/index.tsx
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/DeleteRole.tsx
  plugins/rbac/src/components/DeleteRoleDialog.tsx
  plugins/rbac/src/components/EditRole.tsx
  plugins/rbac/src/components/RbacPage.test.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/hooks/useRoles.ts
Owners: @janus-idp/maintainers-plugins

chore(release): 1.8.0 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  fd/b0dd9235502bf9f154531e676e243261890aa8
Owners: @janus-idp/maintainers-plugins

fix(quay): fix list page sorting of vulnerabilities based on severity
  plugins/quay/src/components/QuayTagDetails/component.tsx
Owners: @janus-idp/maintainers-plugins, @fmenesesg

fix #596: Add mock data for test page and cleanup some small code smells
  plugins/openshift-image-registry/README.md
  plugins/openshift-image-registry/dev/index.tsx
  plugins/openshift-image-registry/dev/namespaces.json
  plugins/openshift-image-registry/dev/openshift-imagestreams.json
  plugins/openshift-image-registry/dev/openshift-imagestreamtags.json
  plugins/openshift-image-registry/src/api/index.ts
  plugins/openshift-image-registry/src/components/OcirImages/OcirImageSidebar.tsx
  plugins/openshift-image-registry/src/components/OcirImages/OcirImagesCard.tsx
  plugins/openshift-image-registry/src/components/OcirImages/OcirImagesCards.tsx
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

feat(rbac): support for adding permission policies to roles
  plugins/rbac/README.md
  plugins/rbac/dev/index.tsx
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/CreateRole/AddMembersForm.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  plugins/rbac/src/components/CreateRole/CreateRolePage.tsx
  plugins/rbac/src/components/CreateRole/EditRolePage.tsx
  plugins/rbac/src/components/CreateRole/MembersDropdownOption.tsx
  plugins/rbac/src/components/CreateRole/PermissionPoliciesForm.tsx
  plugins/rbac/src/components/CreateRole/PermissionPoliciesFormRow.tsx
  plugins/rbac/src/components/CreateRole/PoliciesCheckboxGroup.tsx
  plugins/rbac/src/components/CreateRole/ReviewStep.tsx
  plugins/rbac/src/components/CreateRole/ReviewStepTable.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.tsx
  plugins/rbac/src/components/CreateRole/SelectedPermissionPoliciesColumn.tsx
  plugins/rbac/src/components/CreateRole/const.ts
  plugins/rbac/src/components/CreateRole/types.ts
  plugins/rbac/src/components/RbacPage.tsx
  plugins/rbac/src/components/RoleOverview/AboutCard.tsx
  plugins/rbac/src/components/RoleOverview/MembersCard.test.tsx
  plugins/rbac/src/components/RoleOverview/MembersCard.tsx
  plugins/rbac/src/components/RoleOverview/MembersListColumns.tsx
  plugins/rbac/src/components/RoleOverview/PermissionCard.test.tsx
  plugins/rbac/src/components/RoleOverview/PermissionsCard.tsx
  plugins/rbac/src/components/RoleOverview/PermissionsListColumns.tsx
  plugins/rbac/src/components/RoleOverview/RoleOverviewPage.tsx
  plugins/rbac/src/components/RolesList/DeleteDialogContext.tsx
  plugins/rbac/src/components/RolesList/DeleteRole.tsx
  plugins/rbac/src/components/RolesList/DeleteRoleDialog.tsx
  plugins/rbac/src/components/RolesList/RolesList.test.tsx
  plugins/rbac/src/components/RolesList/RolesList.tsx
  plugins/rbac/src/components/RolesList/RolesListColumns.tsx
  plugins/rbac/src/components/RolesList/RolesListToolbar.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/components/index.ts
  plugins/rbac/src/utils/create-role-utils.test.ts
  plugins/rbac/src/utils/create-role-utils.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

feat(rbac): support for adding permission policies to roles (#1021)
  plugins/rbac/README.md
  plugins/rbac/dev/index.tsx
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/CreateRole/AddMembersForm.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  plugins/rbac/src/components/CreateRole/CreateRolePage.tsx
  plugins/rbac/src/components/CreateRole/EditRolePage.tsx
  plugins/rbac/src/components/CreateRole/MembersDropdownOption.tsx
  plugins/rbac/src/components/CreateRole/PermissionPoliciesForm.tsx
  plugins/rbac/src/components/CreateRole/PermissionPoliciesFormRow.tsx
  plugins/rbac/src/components/CreateRole/PoliciesCheckboxGroup.tsx
  plugins/rbac/src/components/CreateRole/ReviewStep.tsx
  plugins/rbac/src/components/CreateRole/ReviewStepTable.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.tsx
  plugins/rbac/src/components/CreateRole/SelectedPermissionPoliciesColumn.tsx
  plugins/rbac/src/components/CreateRole/const.ts
  plugins/rbac/src/components/CreateRole/types.ts
  plugins/rbac/src/components/RbacPage.tsx
  plugins/rbac/src/components/RoleOverview/AboutCard.tsx
  plugins/rbac/src/components/RoleOverview/MembersCard.test.tsx
  plugins/rbac/src/components/RoleOverview/MembersCard.tsx
  plugins/rbac/src/components/RoleOverview/MembersListColumns.tsx
  plugins/rbac/src/components/RoleOverview/PermissionCard.test.tsx
  plugins/rbac/src/components/RoleOverview/PermissionsCard.tsx
  plugins/rbac/src/components/RoleOverview/PermissionsListColumns.tsx
  plugins/rbac/src/components/RoleOverview/RoleOverviewPage.tsx
  plugins/rbac/src/components/RolesList/DeleteDialogContext.tsx
  plugins/rbac/src/components/RolesList/DeleteRole.tsx
  plugins/rbac/src/components/RolesList/DeleteRoleDialog.tsx
  plugins/rbac/src/components/RolesList/RolesList.test.tsx
  plugins/rbac/src/components/RolesList/RolesList.tsx
  plugins/rbac/src/components/RolesList/RolesListColumns.tsx
  plugins/rbac/src/components/RolesList/RolesListToolbar.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/components/index.ts
  plugins/rbac/src/utils/create-role-utils.test.ts
  plugins/rbac/src/utils/create-role-utils.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

chore(release): 1.9.0 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  15/44d1f016584ec4249f8ee8b5c3a04c7f47804f
Owners: @janus-idp/maintainers-plugins

fix(quay): fix infinite progress bar when scan is unsupported (#1031)
  plugins/quay/src/components/QuayRepository/QuayRepository.test.tsx
  plugins/quay/src/components/QuayRepository/tableHeading.tsx
  plugins/quay/src/hooks/quay.tsx
  plugins/quay/src/hooks/useTags.test.ts
Owners: @janus-idp/maintainers-plugins, @fmenesesg

chore(release): 1.4.19 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  0f/6799bbff12492ecd68dd6b51b2c57ab02570ef
Owners: @janus-idp/maintainers-plugins

feat(tekton): Add CVE summary and signed badge
  plugins/shared-react/src/types/pipeline/pipelineRun.ts
  plugins/tekton/package.json
  plugins/tekton/src/__fixtures__/1-pipelinesData.ts
  plugins/tekton/src/components/PipelineRunList/PipelineRunColumnHeader.ts
  plugins/tekton/src/components/PipelineRunList/PipelineRunRow.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunVulnerabilities.tsx
  plugins/tekton/src/components/PipelineRunList/ResourceBadge.tsx
  plugins/tekton/src/consts/tekton-const.ts
  plugins/tekton/src/globals.d.ts
  plugins/tekton/src/hooks/usePipelineRunScanResults.test.ts
  plugins/tekton/src/hooks/usePipelineRunScanResults.ts
  plugins/tekton/src/imgs/signed-badge.svg
  plugins/tekton/src/types/types.ts
  plugins/tekton/src/utils/image-utils.ts
  plugins/tekton/src/utils/tekton-utils.test.ts
  plugins/tekton/src/utils/tekton-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

fix(quay): fix sorting and ordering of vulneribilities based on severity (#1033)
  plugins/quay/src/components/QuayRepository/tableHeading.tsx
  plugins/quay/src/components/QuayTagDetails/component.tsx
  plugins/quay/src/lib/utils.data.ts
  plugins/quay/src/lib/utils.test.ts
  plugins/quay/src/lib/utils.ts
  plugins/quay/src/types.ts
Owners: @janus-idp/maintainers-plugins, @fmenesesg

support sqllite and other DBs FLPATH-811 https://issues.redhat.com/browse/FLPATH-811
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.ts
Owners: @janus-idp/maintainers-plugins

fix(openshift-image-registry): fix #596: Add mock data for test page and cleanup some small code smells (#1024)
  plugins/openshift-image-registry/README.md
  plugins/openshift-image-registry/dev/index.tsx
  plugins/openshift-image-registry/dev/namespaces.json
  plugins/openshift-image-registry/dev/openshift-imagestreams.json
  plugins/openshift-image-registry/dev/openshift-imagestreamtags.json
  plugins/openshift-image-registry/src/api/index.ts
  plugins/openshift-image-registry/src/components/OcirImages/OcirImageSidebar.tsx
  plugins/openshift-image-registry/src/components/OcirImages/OcirImagesCard.tsx
  plugins/openshift-image-registry/src/components/OcirImages/OcirImagesCards.tsx
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

chore(release): 1.3.16 [skip ci]
  plugins/openshift-image-registry/CHANGELOG.md
  plugins/openshift-image-registry/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  fd/b11ab45896a2e77c1663f271e772f1ee18d0eb
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.20 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  ba/e926987f26cdbe9a1db98c3818812770c8133d
Owners: @janus-idp/maintainers-plugins

fix #591: Cleanup some small code smells
  plugins/keycloak-backend/src/lib/config.ts
  plugins/keycloak-backend/src/lib/read.test.ts
  plugins/keycloak-backend/src/lib/read.ts
  plugins/keycloak-backend/src/providers/KeycloakOrgEntityProvider.ts
Owners: @janus-idp/maintainers-plugins

fix(keycloak): fix #591: Cleanup some small code smells in Keycloak plugin (#1022)
  plugins/keycloak-backend/src/lib/config.ts
  plugins/keycloak-backend/src/lib/read.test.ts
  plugins/keycloak-backend/src/lib/read.ts
  plugins/keycloak-backend/src/providers/KeycloakOrgEntityProvider.ts
Owners: @janus-idp/maintainers-plugins

chore(release): 1.7.11 [skip ci]
  plugins/keycloak-backend/CHANGELOG.md
  plugins/keycloak-backend/dist-dynamic/package.json
  plugins/keycloak-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  94/bda1cb608e5003fb63b5e6c0e41f1e55d93d8b
Owners: @janus-idp/maintainers-plugins

feat(tekton): add CVE summary and signed badge (#1028)
  plugins/shared-react/src/types/pipeline/pipelineRun.ts
  plugins/tekton/package.json
  plugins/tekton/src/__fixtures__/1-pipelinesData.ts
  plugins/tekton/src/components/PipelineRunList/PipelineRunColumnHeader.ts
  plugins/tekton/src/components/PipelineRunList/PipelineRunRow.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunVulnerabilities.tsx
  plugins/tekton/src/components/PipelineRunList/ResourceBadge.tsx
  plugins/tekton/src/consts/tekton-const.ts
  plugins/tekton/src/globals.d.ts
  plugins/tekton/src/hooks/usePipelineRunScanResults.test.ts
  plugins/tekton/src/hooks/usePipelineRunScanResults.ts
  plugins/tekton/src/imgs/signed-badge.svg
  plugins/tekton/src/types/types.ts
  plugins/tekton/src/utils/image-utils.ts
  plugins/tekton/src/utils/tekton-utils.test.ts
  plugins/tekton/src/utils/tekton-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

chore(release): 1.2.17 [skip ci]
  plugins/acr/CHANGELOG.md
  plugins/acr/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  56/d7f88bbc8c52c1f1f677b9258a0d1015909a69
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.17 [skip ci]
  plugins/jfrog-artifactory/CHANGELOG.md
  plugins/jfrog-artifactory/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  00/e27bf010cb373c8c35deea78ce0303e804cb26
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.17 [skip ci]
  plugins/nexus-repository-manager/CHANGELOG.md
  plugins/nexus-repository-manager/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  fb/4a3e3f00012ef09586f852333b04383b5da609
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.17 [skip ci]
  plugins/openshift-image-registry/CHANGELOG.md
  plugins/openshift-image-registry/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  cf/41366ba5c5834e9ed7466b3451143e813a6035
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.21 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg
