Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra

chore(release): 3.5.8 [skip ci]
  plugins/ocm/CHANGELOG.md
  plugins/ocm/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  b5/0639e94d07a162b81303bbf26cdb24e5be8fe8
Owners: @janus-idp/maintainers-plugins

chore(release): 3.4.9 [skip ci]
  plugins/ocm-backend/CHANGELOG.md
  plugins/ocm-backend/dist-dynamic/package.json
  plugins/ocm-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  cc/99427251df19e0f6bff49254e29f7e4d3f6ed6
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.12 [skip ci]
  plugins/openshift-image-registry/CHANGELOG.md
  plugins/openshift-image-registry/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  b2/7b3e0dc40543116f8bfee37a7b52336009eabd
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.15 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  44/a7984b31726edcc9c77629e13d3a3c01ee3f5b
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.3 [skip ci]
  plugins/quay-actions/CHANGELOG.md
  plugins/quay-actions/dist-dynamic/package.json
  plugins/quay-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  bf/30cacb89ce4a4dfb56257e29f3d7cebb2116ff
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.1 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  21/2a41785615dc0441e20f36c346f959c8ad604e
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.3 [skip ci]
  plugins/regex-actions/CHANGELOG.md
  plugins/regex-actions/dist-dynamic/package.json
  plugins/regex-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  43/f1acc5e16c8529c7849e0205cabb7a53ff415b
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.4 [skip ci]
  plugins/servicenow-actions/CHANGELOG.md
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  0b/32654a4f76c220f9ed44d09e1528f2fda113db
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.3 [skip ci]
  plugins/sonarqube-actions/CHANGELOG.md
  plugins/sonarqube-actions/dist-dynamic/package.json
  plugins/sonarqube-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  fb/016a3bd77baba6e5945945374c3c44c7cb304e
Owners: @janus-idp/maintainers-plugins

chore(release): 3.1.12 [skip ci]
  plugins/tekton/CHANGELOG.md
  plugins/tekton/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  ac/86bbccd6da19b84d2ee7c0573818361b1e3fd9
Owners: @janus-idp/maintainers-plugins

chore(release): 1.16.13 [skip ci]
  plugins/topology/CHANGELOG.md
  plugins/topology/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  aa/757d69e8a53c888662aa7bdd4a6b129e83d84e
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.10 [skip ci]
  plugins/web-terminal/CHANGELOG.md
  plugins/web-terminal/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  d4/8ce3a4bd23403cac8366927bcbab580831b846
Owners: @janus-idp/maintainers-plugins

docs(rbac): additional documentation for configuring the backend
  plugins/rbac-backend/README.md
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

docs(rbac): additional docs for backend configuration (#982)
  plugins/rbac-backend/README.md
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

chore(release): 1.6.5 [skip ci]
  plugins/rbac-backend/CHANGELOG.md
  plugins/rbac-backend/package.json
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  e4/e1364692a9a6d0cf91275b20c38f70b9c194ae
Owners: @janus-idp/maintainers-plugins

feat(rbac): role overview
  plugins/rbac-common/src/types.ts
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/__fixtures__/mockMembers.ts
  plugins/rbac/src/__fixtures__/mockPermissionPolicies.ts
  plugins/rbac/src/__fixtures__/mockPolicies.ts
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/AboutCard.tsx
  plugins/rbac/src/components/DeleteRoleDialog.tsx
  plugins/rbac/src/components/MembersCard.test.tsx
  plugins/rbac/src/components/MembersCard.tsx
  plugins/rbac/src/components/MembersListColumns.tsx
  plugins/rbac/src/components/PermissionCard.test.tsx
  plugins/rbac/src/components/PermissionsCard.tsx
  plugins/rbac/src/components/PermissionsListColumns.tsx
  plugins/rbac/src/components/RoleOverviewPage.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/components/RolesListColumns.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/components/index.ts
  plugins/rbac/src/hooks/useMembers.test.ts
  plugins/rbac/src/hooks/useMembers.ts
  plugins/rbac/src/hooks/usePermissionPolicies.test.ts
  plugins/rbac/src/hooks/usePermissionPolicies.ts
  plugins/rbac/src/hooks/useRoles.test.ts
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/plugin.ts
  plugins/rbac/src/routes.ts
  plugins/rbac/src/types.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

feat(rbac): role overview (#972)
  plugins/rbac-common/src/types.ts
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/__fixtures__/mockMembers.ts
  plugins/rbac/src/__fixtures__/mockPermissionPolicies.ts
  plugins/rbac/src/__fixtures__/mockPolicies.ts
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/AboutCard.tsx
  plugins/rbac/src/components/DeleteRoleDialog.tsx
  plugins/rbac/src/components/MembersCard.test.tsx
  plugins/rbac/src/components/MembersCard.tsx
  plugins/rbac/src/components/MembersListColumns.tsx
  plugins/rbac/src/components/PermissionCard.test.tsx
  plugins/rbac/src/components/PermissionsCard.tsx
  plugins/rbac/src/components/PermissionsListColumns.tsx
  plugins/rbac/src/components/RoleOverviewPage.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/components/RolesListColumns.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/components/index.ts
  plugins/rbac/src/hooks/useMembers.test.ts
  plugins/rbac/src/hooks/useMembers.ts
  plugins/rbac/src/hooks/usePermissionPolicies.test.ts
  plugins/rbac/src/hooks/usePermissionPolicies.ts
  plugins/rbac/src/hooks/useRoles.test.ts
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/plugin.ts
  plugins/rbac/src/routes.ts
  plugins/rbac/src/types.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

chore(release): 1.2.0 [skip ci]
  plugins/rbac-common/CHANGELOG.md
  plugins/rbac-common/package.json
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  27/aed2990e142190099a89a7a14ae6eadc16dc58
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.0 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  e1/449277f141eec1766982f8e370cdba2135ae24
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.6 [skip ci]
  plugins/rbac-backend/CHANGELOG.md
  plugins/rbac-backend/package.json
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  fe/e625ed2291edd8154081c8ea1afddd6e213818
Owners: @janus-idp/maintainers-plugins

docs(matomo-plugin): fix config example and replace GA with Matomo
  plugins/analytics-module-matomo/README.md
Owners: @janus-idp/maintainers-docs

fix(rbac): CSV updates no longer require server restarts
  plugins/rbac-backend/src/__fixtures__/data/invalid-csv/duplicate-policies-actions.csv
  plugins/rbac-backend/src/__fixtures__/data/invalid-csv/duplicate-policy.csv
  plugins/rbac-backend/src/__fixtures__/data/invalid-csv/duplicate-role.csv
  plugins/rbac-backend/src/__fixtures__/data/invalid-csv/entityref-policy.csv
  plugins/rbac-backend/src/__fixtures__/data/invalid-csv/permission-policy.csv
  plugins/rbac-backend/src/__fixtures__/data/invalid-csv/role-entityref-policy.csv
  plugins/rbac-backend/src/__fixtures__/data/valid-csv/rbac-policy.csv
  plugins/rbac-backend/src/__fixtures__/data/valid-csv/updated-rbac-policy.csv
  plugins/rbac-backend/src/helpers/csv.test.ts
  plugins/rbac-backend/src/helpers/csv.ts
  plugins/rbac-backend/src/helpers/utils.ts
  plugins/rbac-backend/src/service/permission-policy.test.ts
  plugins/rbac-backend/src/service/permission-policy.ts
  plugins/rbac-backend/src/service/test/data/rbac-policy.csv
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

chore: remove post-ff labeler
  .github/workflows/add-to-project.yaml
Owners: @janus-idp/maintainers-plugins

fix(tekton): fix expand collapse with sorting of PLR list table
  plugins/tekton/src/components/PipelineRunList/PipelineRunRow.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunTableBody.tsx
  plugins/tekton/src/types/types.ts
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta
