Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

fix flpath-659 catch DB errors in router handlers https://issues.redhat.com/browse/FLPATH-659
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router-test-ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/standaloneServer.ts
Owners: @janus-idp/maintainers-plugins

filter paging users
  app-config.yaml
  packages/backend/src/plugins/notifications.ts
  plugins/notifications-backend/README.md
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-frontend/src/notificationsService.ts
  users.yaml
Owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @mareklibra

Add patternfly/react-core among dependencies
  plugins/notifications-frontend/package.json
Owners: @janus-idp/maintainers-plugins, @mareklibra

Rename System notifications tab
  plugins/notifications-frontend/src/components/MonitoringNotifications/MonitoringNotifications.tsx
  plugins/notifications-frontend/src/components/MonitoringNotifications/index.ts
  plugins/notifications-frontend/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications-frontend/src/components/SystemNotifications/SystemNotifications.tsx
  plugins/notifications-frontend/src/components/SystemNotifications/index.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

Use Item instead of Group for the left-side menu
  packages/app/src/components/Root/Root.tsx
  plugins/notifications-frontend/src/components/NotificationsSidebarGroup.tsx
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/index.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

Remove rxjs dependency
  plugins/notifications-frontend/package.json
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add new fields to the UI
  plugins/notifications-backend/README.md
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/NotificationsApiV1Impl.ts
  plugins/notifications-frontend/src/api/index.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/api/notificationsApiV1.ts
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/usePollingEffect.ts
  plugins/notifications-frontend/src/constants.ts
  plugins/notifications-frontend/src/notificationsService.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins, @mareklibra

Update README to match recent endpoints
  plugins/notifications-backend/README.md
Owners: @janus-idp/maintainers-docs

Mark "unread" notifications in the left-side menu
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Remove TODO
  plugins/notifications-backend/src/service/types.ts
Owners: @janus-idp/maintainers-plugins

Add pagination
  plugins/notifications-backend/README.md
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins, @mareklibra

Make the actions.title mandatory
  plugins/notifications-backend/README.md
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins, @mareklibra

FLPATH-661: Add notification actions
  plugins/notifications-backend/README.md
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins, @mareklibra

Add default sorting
  plugins/notifications-backend/src/service/handlers.ts
Owners: @janus-idp/maintainers-plugins

BE- implement posting to users and groups FLPATH-665 https://issues.redhat.com/browse/FLPATH-665
  app-config.yaml
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
  users.yaml
Owners: @janus-idp/maintainers-plugins

FLPATH-668: Add sorting
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Remove unused code - FE notificationsService.ts
  plugins/notifications-frontend/src/notificationsService.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

FLPATH-671: Add Created After filter
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsToolbar.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add stub for passing users
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

FLPATH-671: Add Created After selection
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsToolbar.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

FLPATH-670: Add filtering by text
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add @material-table/core among dependencies
  plugins/notifications-frontend/package.json
Owners: @janus-idp/maintainers-plugins, @mareklibra

Avoid using Patternfly in the Notifications
  plugins/notifications-frontend/package.json
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Polling in NotificationsSidebarItem can be configured
  packages/app/src/components/Root/Root.tsx
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/components/usePollingEffect.ts
  plugins/notifications-frontend/src/constants.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

update README
  plugins/notifications-backend/README.md
Owners: @janus-idp/maintainers-docs

FLPATH-675: Show system-wide alerts
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Move sorting params validation to handler
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
Owners: @janus-idp/maintainers-plugins

Simplify BE cehck for orderBy
  plugins/notifications-backend/src/service/handlers.ts
Owners: @janus-idp/maintainers-plugins

FLPATH-675: Show system-wide notifications in the Updates tab
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/PersonalNotifications/PersonalNotifications.tsx
  plugins/notifications-frontend/src/components/SystemNotifications/SystemNotifications.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add react-router-dom to notifications-frontend
  plugins/notifications-frontend/package.json
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add a page to create notifications
  plugins/notifications-frontend/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications-frontend/src/components/SendNotification/SendNotification.tsx
  plugins/notifications-frontend/src/components/SendNotification/index.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

BE - implement mark as read flpath-666 https://issues.redhat.com/browse/FLPATH-666
  plugins/notifications-backend/README.md
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

FLPATH-664: Implement Mark as Read on FE
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsToolbar.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

FLPATH-663: Pass logged-in user name to the backend
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Implement creating of notifications
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

Update README for authentication section
  plugins/notifications-backend/README.md
Owners: @janus-idp/maintainers-docs

FLPATH-667: Add notifications-common library
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-common/.eslintrc.js
  plugins/notifications-common/README.md
  plugins/notifications-common/package.json
  plugins/notifications-common/src/index.ts
  plugins/notifications-common/src/types.ts
  plugins/notifications-common/tsconfig.json
  plugins/notifications-common/turbo.json
  plugins/notifications-frontend/package.json
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/SendNotification/SendNotification.tsx
  plugins/notifications-frontend/src/index.ts
Owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @mareklibra

Sync dependencies with main
  plugins/notifications-backend/package.json
  plugins/notifications-frontend/package.json
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add more descriptions
  plugins/notifications-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

Add defaut/guest user to the Catalog
  users.yaml
Owners: @janus-idp/maintainers-plugins

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra
