Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

Notes added by 'git notes add'
  be/4273eaaf92df0432c094fb0e6bddf7f776bd0c
Owners: @janus-idp/maintainers-plugins

chore(release): 2.3.0 [skip ci]
  plugins/shared-react/CHANGELOG.md
  plugins/shared-react/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  3d/83b038cd7c0d6a30824ce2138afc453c021a8a
Owners: @janus-idp/maintainers-plugins

chore(release): 3.4.0 [skip ci]
  plugins/tekton/CHANGELOG.md
  plugins/tekton/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  26/56fea333891cada91f3980278061538cbf68e9
Owners: @janus-idp/maintainers-plugins

chore(release): 1.17.2 [skip ci]
  plugins/topology/CHANGELOG.md
  plugins/topology/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  21/c73f4914395800ab5f4d149f644864583b9a0e
Owners: @janus-idp/maintainers-plugins

fix #598: Cleanup some small code smells
  plugins/web-terminal/src/components/NamespacePickerDialog/NamespacePickerDialog.tsx
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.test.tsx
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.tsx
  plugins/web-terminal/src/components/TerminalComponent/static/xterm.css
Owners: @janus-idp/maintainers-plugins

fix(web-terminal): fix #598: Cleanup some small code smells in the web-terminal plugin (#1023)
  plugins/web-terminal/src/components/NamespacePickerDialog/NamespacePickerDialog.tsx
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.test.tsx
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.tsx
  plugins/web-terminal/src/components/TerminalComponent/static/xterm.css
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.12 [skip ci]
  plugins/web-terminal/CHANGELOG.md
  plugins/web-terminal/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  67/309068de2dbf9357939b86353a9e8312284d7d
Owners: @janus-idp/maintainers-plugins

feat(web-terminal): impr README, add isWebTerminalAvailable util and fix some other small bugs
  plugins/web-terminal/README.md
  plugins/web-terminal/package.json
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.test.tsx
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.tsx
  plugins/web-terminal/src/components/TerminalComponent/utils/annotations.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/helpers.test.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/helpers.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/index.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/requests.ts
  plugins/web-terminal/src/index.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

add unit test to BE FLPATH-798 https://issues.redhat.com/browse/FLPATH-798
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/service/db.test.ts
  plugins/notifications-backend/src/service/db.ts
  plugins/notifications-backend/src/service/handlers.test.ts
Owners: @janus-idp/maintainers-plugins

add initial OWNERS file
  OWNERS
Owners: @janus-idp/maintainers-plugins

chore: add initial OWNERS file (#1041)
  OWNERS
Owners: @janus-idp/maintainers-plugins

feat(quay): fix sorting in quay table and tag details
  plugins/quay/src/components/QuayRepository/QuayRepository.tsx
  plugins/quay/src/components/QuayRepository/tableHeading.tsx
  plugins/quay/src/components/QuayTagDetails/component.tsx
  plugins/quay/src/hooks/quay.tsx
Owners: @janus-idp/maintainers-plugins, @fmenesesg

feat(web-terminal): impr README, add isWebTerminalAvailable util and fix some other small bugs (#1036)
  plugins/web-terminal/README.md
  plugins/web-terminal/package.json
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.test.tsx
  plugins/web-terminal/src/components/TerminalComponent/TerminalComponent.tsx
  plugins/web-terminal/src/components/TerminalComponent/utils/annotations.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/helpers.test.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/helpers.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/index.ts
  plugins/web-terminal/src/components/TerminalComponent/utils/requests.ts
  plugins/web-terminal/src/index.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

fix(rbac): fix role validation (#1020)
  plugins/rbac-backend/src/service/permission-policy.ts
  plugins/rbac-backend/src/service/policies-rest-api.test.ts
  plugins/rbac-backend/src/service/policies-rest-api.ts
  plugins/rbac-backend/src/service/policies-validation.ts
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

fix(regex-actions): fix #594: Cleanup some small code smells
  plugins/regex-actions/README.md
  plugins/regex-actions/src/actions/regex/replace.test.ts
  plugins/regex-actions/src/actions/regex/replace.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

feat(rbac): add vscode debug configuration for opened jest test files
  .vscode/launch.json
Owners: @janus-idp/maintainers-plugins

fix(regex-actions): fix #594: Cleanup some small code smells (#1039)
  plugins/regex-actions/README.md
  plugins/regex-actions/src/actions/regex/replace.test.ts
  plugins/regex-actions/src/actions/regex/replace.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

chore(quay): update type assertions
  plugins/quay/src/components/QuayRepository/tableHeading.tsx
  plugins/quay/src/components/QuayTagDetails/component.tsx
  plugins/quay/src/hooks/quay.tsx
  plugins/quay/src/types.ts
Owners: @janus-idp/maintainers-plugins, @fmenesesg

chore: update types to take advantage of generics
  plugins/quay/src/components/QuayRepository/tableHeading.tsx
  plugins/quay/src/components/QuayTagDetails/component.tsx
Owners: @janus-idp/maintainers-plugins, @fmenesesg

fix(rbac): disable edit when the user is unauthorized to read the catalog-entity
  plugins/rbac/src/components/RoleOverview/MembersCard.tsx
  plugins/rbac/src/hooks/useRoles.ts
Owners: @janus-idp/maintainers-plugins

chore: add jira label to new issues
  .github/workflows/on-new-issue.yaml
Owners: @janus-idp/maintainers-plugins

chore: add jira label to new issues (#1050)
  .github/workflows/on-new-issue.yaml
Owners: @janus-idp/maintainers-plugins

draft
  app-config.yaml
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/plugins/myplugin.ts
  plugins/myplugin-backend/.eslintrc.js
  plugins/myplugin-backend/README.md
  plugins/myplugin-backend/package.json
  plugins/myplugin-backend/src/index.ts
  plugins/myplugin-backend/src/run.ts
  plugins/myplugin-backend/src/service/router.test.ts
  plugins/myplugin-backend/src/service/router.ts
  plugins/myplugin-backend/src/service/standaloneServer.ts
  plugins/myplugin-backend/src/setupTests.ts
Owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra
