Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra

fix(tekton): fix expand collapse with sorting of PLR list table (#980)
  plugins/tekton/src/components/PipelineRunList/PipelineRunRow.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunTableBody.tsx
  plugins/tekton/src/types/types.ts
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

feat(rbac): list roles with no permission policies
  plugins/rbac-backend/README.md
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/hooks/useRoles.test.ts
  plugins/rbac/src/hooks/useRoles.ts
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

feat(rbac): list roles with no permission policies (#998)
  plugins/rbac-backend/README.md
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/hooks/useRoles.test.ts
  plugins/rbac/src/hooks/useRoles.ts
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

chore(release): 1.5.0 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  5d/6f4531eaabb4966050fbe028e60d2b62722c18
Owners: @janus-idp/maintainers-plugins

chore(release): 1.7.0 [skip ci]
  plugins/rbac-backend/CHANGELOG.md
  plugins/rbac-backend/package.json
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  ef/5c9f266b5185cbd6e9ade80aa8846b8f5d0f04
Owners: @janus-idp/maintainers-plugins

chore(release): 3.1.13 [skip ci]
  plugins/tekton/CHANGELOG.md
  plugins/tekton/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  01/1a1536c8cf4994bb18f07b174921f167d5c539
Owners: @janus-idp/maintainers-plugins

fix(cli): do not change interop mode by default (#971)
  packages/cli/src/commands/export-dynamic-plugin/backend.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/lib/builder/config.ts
  packages/cli/src/lib/builder/embedPlugin.ts
Owners: @janus-idp/maintainers-plugins

chore: remove post-ff labeler (#995)
  .github/workflows/add-to-project.yaml
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.5 [skip ci]
  plugins/matomo-backend/CHANGELOG.md
  plugins/matomo-backend/dist-dynamic/package.json
  plugins/matomo-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  be/b72a02fea8baa6606ded7d42a7e4af4ecbcd7b
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.7 [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  1e/474fe2db07fa2667a8fd58fb08b1ad6629e549
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.9 [skip ci]
  plugins/3scale-backend/CHANGELOG.md
  plugins/3scale-backend/dist-dynamic/package.json
  plugins/3scale-backend/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  33/5db30b4c688c1b4d9d661ed88f18e01338a642
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.9 [skip ci]
  plugins/aap-backend/CHANGELOG.md
  plugins/aap-backend/dist-dynamic/package.json
  plugins/aap-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  35/026a58578e3f25443b43027e34efaf09732249
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.14 [skip ci]
  plugins/acr/CHANGELOG.md
  plugins/acr/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  a0/0cf82707c7ac0283fcd11552b84a6b504f2285
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.3 [skip ci]
  plugins/analytics-provider-segment/CHANGELOG.md
  plugins/analytics-provider-segment/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  00/1980f237648329bc2cb1edd5294d3a674f5a23
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.14 [skip ci]
  plugins/jfrog-artifactory/CHANGELOG.md
  plugins/jfrog-artifactory/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  6a/1288ed785d0abd5c2520833e6103a193be014f
Owners: @janus-idp/maintainers-plugins

chore(release): 1.7.9 [skip ci]
  plugins/keycloak-backend/CHANGELOG.md
  plugins/keycloak-backend/dist-dynamic/package.json
  plugins/keycloak-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  9c/a09256ae57672bc5ea5f1c7022def28bb9d464
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.12 [skip ci]
  plugins/kiali/CHANGELOG.md
  plugins/kiali/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  c9/3f292933975555ecffea677a19243fe948dd45
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.4 [skip ci]
  plugins/kiali-backend/CHANGELOG.md
  plugins/kiali-backend/dist-dynamic/package.json
  plugins/kiali-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  cb/c3221fba106cab66d6c8fcea35090c6c7aebca
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.4 [skip ci]
  plugins/kubernetes-actions/CHANGELOG.md
  plugins/kubernetes-actions/dist-dynamic/package.json
  plugins/kubernetes-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  60/c6b9212510fc4cf18d456ca036103b1df0edd9
Owners: @janus-idp/maintainers-plugins

chore(release): 1.1.13 [skip ci]
  plugins/matomo/CHANGELOG.md
  plugins/matomo/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  36/b9ebabc76f940a06da1301d7ce825a4d093bef
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.14 [skip ci]
  plugins/nexus-repository-manager/CHANGELOG.md
  plugins/nexus-repository-manager/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  c9/2a5989d0b16ead5af2a9391130c14a28d1f56c
Owners: @janus-idp/maintainers-plugins

chore(release): 3.5.9 [skip ci]
  plugins/ocm/CHANGELOG.md
  plugins/ocm/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  4c/7f3fdc3a4a1decb0457eea385c7f898717034f
Owners: @janus-idp/maintainers-plugins

chore(release): 3.4.10 [skip ci]
  plugins/ocm-backend/CHANGELOG.md
  plugins/ocm-backend/dist-dynamic/package.json
  plugins/ocm-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins
