Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @AndrienkoAleksandr, @PatAKnight, @janus-idp/notifications, @janus-idp/orchestrator-codeowners, @janus-idp/devex-uxe, @janus-idp/kiali, @janus-idp/rhtap

chore(release): 3.6.5 [skip ci]
  plugins/tekton/CHANGELOG.md
  plugins/tekton/package.json
Owners: @janus-idp/rhtap

Notes added by 'git notes add'
  87/1087e432d590ecb7cf2018ae3368a16ccf9d40
Owners: @janus-idp/maintainers-plugins

chore(release): 1.19.5 [skip ci]
  plugins/topology/CHANGELOG.md
  plugins/topology/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  27/06f416e4061ac1f9fcc657a0e13192f97b9389
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.5 [skip ci]
  plugins/web-terminal/CHANGELOG.md
  plugins/web-terminal/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  08/9c2dd1f01c345e239464e06ce905ee20bb8423
Owners: @janus-idp/maintainers-plugins

chore: fix tsc errors
  plugins/audit-log-common/package.json
  plugins/audit-log-common/src/DefaultAuditLogger.ts
  plugins/audit-log-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

fix(rbac)!: remove token manager for auth service
  plugins/rbac-backend/README.md
  plugins/rbac-backend/src/file-permissions/csv.test.ts
  plugins/rbac-backend/src/plugin.ts
  plugins/rbac-backend/src/role-manager/ancestor-search-memo.test.ts
  plugins/rbac-backend/src/role-manager/ancestor-search-memo.ts
  plugins/rbac-backend/src/role-manager/role-manager.test.ts
  plugins/rbac-backend/src/role-manager/role-manager.ts
  plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  plugins/rbac-backend/src/service/permission-policy.test.ts
  plugins/rbac-backend/src/service/policy-builder.test.ts
  plugins/rbac-backend/src/service/policy-builder.ts
Owners: @janus-idp/maintainers-plugins, @AndrienkoAleksandr, @PatAKnight

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/         @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/            @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/                  @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/              @janus-idp/maintainers-plugins @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/               @janus-idp/maintainers-plugins @AndrienkoAleksandr @PatAKnight
/plugins/notifications              @janus-idp/maintainers-plugins @janus-idp/notifications
/plugins/notifications-backend      @janus-idp/maintainers-plugins @janus-idp/notifications
/plugins/orchestrator               @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/orchestrator-backend       @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/orchestrator-common        @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/feedback                   @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/feedback-backend           @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/matomo                     @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/matomo-backend             @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/analytics-module-matomo    @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/kiali                      @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/kiali-backend              @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/kiali-common               @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/quay                       @janus-idp/rhtap
/plugins/tekton                     @janus-idp/rhtap
/plugins/argocd                     @janus-idp/rhtap
