Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra

Notes added by 'git notes add'
  6d/3fc6fb4a7dde245969136aa309c5ab10fc8b82
Owners: @janus-idp/maintainers-plugins

chore(release): 1.7.10 [skip ci]
  plugins/keycloak-backend/CHANGELOG.md
  plugins/keycloak-backend/dist-dynamic/package.json
  plugins/keycloak-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  ca/c0b182f85ae6229d2ddd50d5a2b54328bc0235
Owners: @janus-idp/maintainers-plugins

fix(ci): remove scripts before `npm publish` in `dist-dynamic`
  package.json
Owners: @janus-idp/maintainers-plugins

fix(ci): remove scripts before `npm publish` in `dist-dynamic` (#1011)
  package.json
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.5 [skip ci]
  plugins/quay-actions/CHANGELOG.md
  plugins/quay-actions/dist-dynamic/package.json
  plugins/quay-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  f3/02dd281a2ab6714edb78392771fb0135776585
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.5 [skip ci]
  plugins/kiali-backend/CHANGELOG.md
  plugins/kiali-backend/dist-dynamic/package.json
  plugins/kiali-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  b9/219974ccce4b7a2c7c3ac382599c289843deef
Owners: @janus-idp/maintainers-plugins

chore(release): 3.4.11 [skip ci]
  plugins/ocm-backend/CHANGELOG.md
  plugins/ocm-backend/dist-dynamic/package.json
  plugins/ocm-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  49/cdb4b352f5389810dc2f936124408fce9bf764
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.5 [skip ci]
  plugins/regex-actions/CHANGELOG.md
  plugins/regex-actions/dist-dynamic/package.json
  plugins/regex-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  03/12a62a936623aec283bcf8bbbd165d587f79cd
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.5 [skip ci]
  plugins/sonarqube-actions/CHANGELOG.md
  plugins/sonarqube-actions/dist-dynamic/package.json
  plugins/sonarqube-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  63/590cc982ffa5a59cb285550374e509eed6caf8
Owners: @janus-idp/maintainers-plugins

hotfix(#1012): typo fix in retrieveRecords action
  plugins/servicenow-actions/README.md
  plugins/servicenow-actions/src/actions/servicenow/now/table/retrieve-records.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

docs(rbac): add documentation for api and known permissions
  plugins/rbac-backend/README.md
  plugins/rbac-backend/docs/apis.md
  plugins/rbac-backend/docs/permissions.md
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

docs(rbac): add documentation for api and known permissions (#1000)
  plugins/rbac-backend/README.md
  plugins/rbac-backend/docs/apis.md
  plugins/rbac-backend/docs/permissions.md
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

chore(release): 1.7.1 [skip ci]
  plugins/rbac-backend/CHANGELOG.md
  plugins/rbac-backend/package.json
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  27/a648b201121a947139caf19944081d92a7e224
Owners: @janus-idp/maintainers-plugins

fix(#1012): typo fix in `servicenow:now:table:retrieveRecords` action (#1013)
  plugins/servicenow-actions/README.md
  plugins/servicenow-actions/src/actions/servicenow/now/table/retrieve-records.ts
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

feat(rbac): add support for creation of role
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/CreateRole/AddMembersForm.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTable.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  plugins/rbac/src/components/CreateRole/CreateRoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/CreateRoleForm.tsx
  plugins/rbac/src/components/CreateRole/CreateRolePage.tsx
  plugins/rbac/src/components/CreateRole/MembersDropdownOption.tsx
  plugins/rbac/src/components/CreateRole/RoleDetailsForm.tsx
  plugins/rbac/src/components/CreateRole/types.ts
  plugins/rbac/src/components/RbacPage.test.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/components/RolesListToolbar.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/components/index.ts
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/plugin.ts
  plugins/rbac/src/routes.ts
  plugins/rbac/src/utils/create-role-utils.test.ts
  plugins/rbac/src/utils/create-role-utils.ts
  plugins/rbac/src/utils/rbac-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.7 [skip ci]
  plugins/servicenow-actions/CHANGELOG.md
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  78/1cae36059ddb4ec8e2372100a9b5f2179ac7cf
Owners: @janus-idp/maintainers-plugins

fix(rbac): add role validation for create role
  plugins/rbac-backend/src/service/policies-rest-api.test.ts
  plugins/rbac-backend/src/service/policies-validation.ts
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

feat(rbac): add support for creation of role (#974)
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/CreateRole/AddMembersForm.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTable.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  plugins/rbac/src/components/CreateRole/CreateRoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/CreateRoleForm.tsx
  plugins/rbac/src/components/CreateRole/CreateRolePage.tsx
  plugins/rbac/src/components/CreateRole/MembersDropdownOption.tsx
  plugins/rbac/src/components/CreateRole/RoleDetailsForm.tsx
  plugins/rbac/src/components/CreateRole/types.ts
  plugins/rbac/src/components/RbacPage.test.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/components/RolesListToolbar.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/components/index.ts
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/plugin.ts
  plugins/rbac/src/routes.ts
  plugins/rbac/src/utils/create-role-utils.test.ts
  plugins/rbac/src/utils/create-role-utils.ts
  plugins/rbac/src/utils/rbac-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.0 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  2e/4a6ad43212ff099a38511448ef6714633e0c86
Owners: @janus-idp/maintainers-plugins

feat(rbac)!: add support for multiple policies CRUD
  plugins/rbac-backend/src/service/policies-rest-api.test.ts
  plugins/rbac-backend/src/service/policies-rest-api.ts
  plugins/rbac-backend/src/service/policies-validation.test.ts
  plugins/rbac-backend/src/service/policies-validation.ts
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

Update plugins/rbac-backend/src/service/policies-rest-api.test.ts
  plugins/rbac-backend/src/service/policies-rest-api.test.ts
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

add unit tests
  plugins/shared-react/package.json
  plugins/shared-react/src/utils/downloader/logs-downloader.test.ts
  plugins/shared-react/src/utils/downloader/logs-downloader.ts
  plugins/shared-react/src/utils/index.ts
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogs.tsx
  plugins/tekton/src/utils/log-downloader-utils.test.ts
  plugins/tekton/src/utils/pods-data.ts
  plugins/topology/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

feat(tekton): add support for downloading task and pipelinerun logs
  plugins/shared-react/package.json
  plugins/shared-react/src/utils/index.ts
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogDialog.tsx
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogDownloader.tsx
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogs.tsx
  plugins/tekton/src/components/PipelineRunLogs/PodLogsDownloadLink.tsx
  plugins/tekton/src/consts/tekton-const.ts
  plugins/tekton/src/utils/log-downloader-utils.ts
  plugins/topology/src/components/Topology/TopologySideBar/PodLogs/PodLogsDownload.test.tsx
  plugins/topology/src/components/Topology/TopologySideBar/PodLogs/PodLogsDownload.tsx
  plugins/topology/src/utils/pod-log-utils.test.ts
  plugins/topology/src/utils/pod-log-utils.ts
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

refactor code and add more unit tests
  plugins/tekton/src/__fixtures__/pods-data.ts
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogDialog.tsx
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogDownloader.tsx
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogs.tsx
  plugins/tekton/src/components/PipelineRunLogs/PodLogsDownloadLink.tsx
  plugins/tekton/src/components/PipelineRunLogs/__tests__/PipelineRunLogDialog.test.tsx
  plugins/tekton/src/components/PipelineRunLogs/__tests__/PipelineRunLogDownloader.test.tsx
  plugins/tekton/src/components/PipelineRunLogs/__tests__/PodLogsDownloadLink.test.tsx
  plugins/tekton/src/utils/log-downloader-utils.test.ts
  plugins/tekton/src/utils/log-downloader-utils.ts
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

create router in BE based on openapi spec FLPATH756 https://issues.redhat.com/browse/FLPATH-756
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/openapi.d.ts
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
Owners: @janus-idp/maintainers-plugins

add logs streaming in dev mode
  plugins/tekton/dev/index.tsx
  plugins/tekton/src/__fixtures__/1-pipelinesData.ts
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

feat(tekton): add support for downloading task and pipelinerun logs (#1014)
  plugins/shared-react/package.json
  plugins/shared-react/src/utils/downloader/logs-downloader.test.ts
  plugins/shared-react/src/utils/downloader/logs-downloader.ts
  plugins/shared-react/src/utils/index.ts
  plugins/tekton/dev/index.tsx
  plugins/tekton/src/__fixtures__/1-pipelinesData.ts
  plugins/tekton/src/__fixtures__/pods-data.ts
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogDialog.tsx
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogDownloader.tsx
  plugins/tekton/src/components/PipelineRunLogs/PipelineRunLogs.tsx
  plugins/tekton/src/components/PipelineRunLogs/PodLogsDownloadLink.tsx
  plugins/tekton/src/components/PipelineRunLogs/__tests__/PipelineRunLogDialog.test.tsx
  plugins/tekton/src/components/PipelineRunLogs/__tests__/PipelineRunLogDownloader.test.tsx
  plugins/tekton/src/components/PipelineRunLogs/__tests__/PodLogsDownloadLink.test.tsx
  plugins/tekton/src/consts/tekton-const.ts
  plugins/tekton/src/utils/log-downloader-utils.test.ts
  plugins/tekton/src/utils/log-downloader-utils.ts
  plugins/topology/package.json
  plugins/topology/src/components/Topology/TopologySideBar/PodLogs/PodLogsDownload.test.tsx
  plugins/topology/src/components/Topology/TopologySideBar/PodLogs/PodLogsDownload.tsx
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

chore(release): 1.2.15 [skip ci]
  plugins/acr/CHANGELOG.md
  plugins/acr/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  1d/ca610a3f4d04d07aeb54aa3677a2d3726ef011
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.15 [skip ci]
  plugins/jfrog-artifactory/CHANGELOG.md
  plugins/jfrog-artifactory/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  46/8d603b41744165df72f7a1694c391ee548e6e7
Owners: @janus-idp/maintainers-plugins
