Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

chore(release): 1.4.15 [skip ci]
  plugins/nexus-repository-manager/CHANGELOG.md
  plugins/nexus-repository-manager/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  c8/8ba604e81d7f646f94c027673e2398f85f6913
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.14 [skip ci]
  plugins/openshift-image-registry/CHANGELOG.md
  plugins/openshift-image-registry/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  e7/d551d90fb0e136c5ae5bc7a952743e9415b133
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.17 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  ff/4f2ceef9cab5a4c43487825d9e2ee1caf7e03f
Owners: @janus-idp/maintainers-plugins

chore(release): 2.1.0 [skip ci]
  plugins/shared-react/CHANGELOG.md
  plugins/shared-react/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  0f/9230aea2a64f845a29d1d66444dae943820d9e
Owners: @janus-idp/maintainers-plugins

chore(release): 3.2.0 [skip ci]
  plugins/tekton/CHANGELOG.md
  plugins/tekton/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  4d/e338eaf02b4b77e56dfbb7b5a80986cd300426
Owners: @janus-idp/maintainers-plugins

chore(release): 1.17.0 [skip ci]
  plugins/topology/CHANGELOG.md
  plugins/topology/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  21/0859adb2b1eacb299613c826019cd5e0029eff
Owners: @janus-idp/maintainers-plugins

fix getNotificationsCount to return type number
  plugins/notifications-backend/src/service/handlers.ts
Owners: @janus-idp/maintainers-plugins

feat(rbac)!: add support for multiple policies CRUD (#984)
  plugins/rbac-backend/src/service/policies-rest-api.test.ts
  plugins/rbac-backend/src/service/policies-rest-api.ts
  plugins/rbac-backend/src/service/policies-validation.test.ts
  plugins/rbac-backend/src/service/policies-validation.ts
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

chore(release): 2.0.0 [skip ci]
  plugins/rbac-backend/CHANGELOG.md
  plugins/rbac-backend/package.json
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  61/85fa97b49decde2d2c21ec201f56eba935aad9
Owners: @janus-idp/maintainers-plugins

feat(rbac): allow editing roles
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/__fixtures__/mockPolicies.ts
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/CreateRole/AddMembersForm.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTable.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  plugins/rbac/src/components/CreateRole/CreateRoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/CreateRolePage.tsx
  plugins/rbac/src/components/CreateRole/EditRolePage.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.tsx
  plugins/rbac/src/components/CreateRole/types.ts
  plugins/rbac/src/components/DeleteRole.tsx
  plugins/rbac/src/components/EditRole.tsx
  plugins/rbac/src/components/MembersCard.test.tsx
  plugins/rbac/src/components/MembersCard.tsx
  plugins/rbac/src/components/PermissionCard.test.tsx
  plugins/rbac/src/components/PermissionsCard.tsx
  plugins/rbac/src/components/RbacPage.tsx
  plugins/rbac/src/components/RoleOverviewPage.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesListColumns.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/hooks/useMembers.ts
  plugins/rbac/src/hooks/usePermissionPolicies.test.ts
  plugins/rbac/src/hooks/usePermissionPolicies.ts
  plugins/rbac/src/hooks/useRoles.test.ts
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/hooks/useSelectedMembers.test.ts
  plugins/rbac/src/hooks/useSelectedMembers.ts
  plugins/rbac/src/routes.ts
  plugins/rbac/src/types.ts
  plugins/rbac/src/utils/create-role-utils.test.ts
  plugins/rbac/src/utils/create-role-utils.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
Owners: @janus-idp/maintainers-plugins

feat(rbac): allow editing roles (#1001)
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/__fixtures__/mockPolicies.ts
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/CreateRole/AddMembersForm.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTable.tsx
  plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  plugins/rbac/src/components/CreateRole/CreateRoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/CreateRolePage.tsx
  plugins/rbac/src/components/CreateRole/EditRolePage.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.test.tsx
  plugins/rbac/src/components/CreateRole/RoleForm.tsx
  plugins/rbac/src/components/CreateRole/types.ts
  plugins/rbac/src/components/DeleteRole.tsx
  plugins/rbac/src/components/EditRole.tsx
  plugins/rbac/src/components/MembersCard.test.tsx
  plugins/rbac/src/components/MembersCard.tsx
  plugins/rbac/src/components/PermissionCard.test.tsx
  plugins/rbac/src/components/PermissionsCard.tsx
  plugins/rbac/src/components/RbacPage.tsx
  plugins/rbac/src/components/RoleOverviewPage.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesListColumns.tsx
  plugins/rbac/src/components/Router.tsx
  plugins/rbac/src/hooks/useMembers.ts
  plugins/rbac/src/hooks/usePermissionPolicies.test.ts
  plugins/rbac/src/hooks/usePermissionPolicies.ts
  plugins/rbac/src/hooks/useRoles.test.ts
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/hooks/useSelectedMembers.test.ts
  plugins/rbac/src/hooks/useSelectedMembers.ts
  plugins/rbac/src/routes.ts
  plugins/rbac/src/types.ts
  plugins/rbac/src/utils/create-role-utils.test.ts
  plugins/rbac/src/utils/create-role-utils.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
Owners: @janus-idp/maintainers-plugins

chore(release): 1.7.0 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  4a/eb33ecb7db1ab4e09d51223bbca6c88924494a
Owners: @janus-idp/maintainers-plugins

fix(rbac): fix role validation
  plugins/rbac-backend/src/service/permission-policy.ts
  plugins/rbac-backend/src/service/policies-rest-api.test.ts
  plugins/rbac-backend/src/service/policies-rest-api.ts
  plugins/rbac-backend/src/service/policies-validation.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

feat(rbac): add vscode debug test configuration for rbac-backend
  .vscode/launch.json
  plugins/rbac-backend/jest.config.debug.js
  plugins/rbac-backend/package.json
  plugins/rbac-backend/tsconfig.debug.json
  yarn.lock
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

feat(rbac): add doc about RBAC backend conditions API
  plugins/rbac-backend/docs/apis.md
Owners: @janus-idp/maintainers-plugins, @gorkem, @AndrienkoAleksandr, @PatAKnight

fix disabled button in dark mode
  plugins/tekton/src/components/Icons/LinkToSbomIcon.tsx
  plugins/tekton/src/components/Icons/ViewLogsIcon.tsx
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

fix(plr-actions): add view logs and view sbom actions in the pipelinerun list page
  plugins/shared-react/src/types/pipeline/pipeline.ts
  plugins/shared-react/src/types/pipeline/taskRun.ts
  plugins/tekton/src/__fixtures__/taskRunData.ts
  plugins/tekton/src/components/Icons/LinkToSbomIcon.tsx
  plugins/tekton/src/components/Icons/ViewLogsIcon.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunColumnHeader.ts
  plugins/tekton/src/components/PipelineRunList/PipelineRunRow.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunRowActions.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunSBOMLink.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineTableHeader.tsx
  plugins/tekton/src/components/PipelineRunList/__tests__/PipelineRunSBOMLink.test.tsx
  plugins/tekton/src/utils/taskRun-utils.test.ts
  plugins/tekton/src/utils/taskRun-utils.ts
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

add IconButton to handle onclick callback on svg icons
  plugins/tekton/src/components/Icons/LinkToSbomIcon.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunRowActions.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunSBOMLink.tsx
  plugins/tekton/src/components/PipelineRunList/__tests__/PipelineRunSBOMLink.test.tsx
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

fix(quay): fix infinite progress bar when scan is unsupported
  plugins/quay/src/components/QuayRepository/QuayRepository.test.tsx
  plugins/quay/src/components/QuayRepository/tableHeading.tsx
  plugins/quay/src/hooks/quay.tsx
  plugins/quay/src/hooks/useTags.test.ts
Owners: @janus-idp/maintainers-plugins, @fmenesesg

feat(tekton): add view logs and view sbom actions in the pipelineRun list (#1003)
  plugins/shared-react/src/types/pipeline/pipeline.ts
  plugins/shared-react/src/types/pipeline/taskRun.ts
  plugins/tekton/src/__fixtures__/taskRunData.ts
  plugins/tekton/src/components/Icons/LinkToSbomIcon.tsx
  plugins/tekton/src/components/Icons/ViewLogsIcon.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunColumnHeader.ts
  plugins/tekton/src/components/PipelineRunList/PipelineRunRow.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunRowActions.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunSBOMLink.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineTableHeader.tsx
  plugins/tekton/src/components/PipelineRunList/__tests__/PipelineRunSBOMLink.test.tsx
  plugins/tekton/src/utils/taskRun-utils.test.ts
  plugins/tekton/src/utils/taskRun-utils.ts
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

chore(release): 1.4.16 [skip ci]
  plugins/nexus-repository-manager/CHANGELOG.md
  plugins/nexus-repository-manager/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  7e/f6c869abcdce9f7a9d7a2a550849c41534605c
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.16 [skip ci]
  plugins/acr/CHANGELOG.md
  plugins/acr/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  86/3e9a7598c15a26b0ef4d57a33609c65a443a47
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.16 [skip ci]
  plugins/jfrog-artifactory/CHANGELOG.md
  plugins/jfrog-artifactory/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  5e/215f063969c05845d76399a86cc3be2a70780e
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.15 [skip ci]
  plugins/openshift-image-registry/CHANGELOG.md
  plugins/openshift-image-registry/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  70/a97ab8a8fa5ec652a6ac2db825350596cdd5ef
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.18 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  7c/fb869ed2a6422f746d12bef55c74594677ff78
Owners: @janus-idp/maintainers-plugins

chore(release): 2.2.0 [skip ci]
  plugins/shared-react/CHANGELOG.md
  plugins/shared-react/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  93/c68c09fe2fdd0144ab71d7a715032e61cb8ea4
Owners: @janus-idp/maintainers-plugins

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra
