Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

Notes added by 'git notes add'
  38/6fa230c3e1f1262fac6bb5d3d336bbc9dff12c
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.13 [skip ci]
  plugins/openshift-image-registry/CHANGELOG.md
  plugins/openshift-image-registry/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  3b/df9f6904e1ca8be2d618b57a7c895c5a8411f3
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.16 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  d7/bf2805e6ed1e71a8a04368e98a3a72ac1e5374
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.4 [skip ci]
  plugins/quay-actions/CHANGELOG.md
  plugins/quay-actions/dist-dynamic/package.json
  plugins/quay-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  92/943e5caad5c47bf8f511eb4b4b000b39cf80c0
Owners: @janus-idp/maintainers-plugins

chore(release): 1.5.1 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  72/e384b1b1215bb1d68c9402d18b40c54dfc2575
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.4 [skip ci]
  plugins/regex-actions/CHANGELOG.md
  plugins/regex-actions/dist-dynamic/package.json
  plugins/regex-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  52/f3961b5d6f70c4cd7f2271f24e6b3bd59185ab
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.5 [skip ci]
  plugins/servicenow-actions/CHANGELOG.md
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  5c/bdc1d8502fb1f9b1724df057155950df5dbcc5
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.4 [skip ci]
  plugins/sonarqube-actions/CHANGELOG.md
  plugins/sonarqube-actions/dist-dynamic/package.json
  plugins/sonarqube-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  f6/f9eaebf01e8724a19820684fa118d6436d89fb
Owners: @janus-idp/maintainers-plugins

chore(release): 3.1.14 [skip ci]
  plugins/tekton/CHANGELOG.md
  plugins/tekton/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  d2/abedf4420a026728f4ad22e3a034e26212cd4e
Owners: @janus-idp/maintainers-plugins

chore(release): 1.16.14 [skip ci]
  plugins/topology/CHANGELOG.md
  plugins/topology/package.json
Owners: @janus-idp/maintainers-plugins, @debsmita1, @divyanshiGupta

Notes added by 'git notes add'
  53/eb22b04fd14fc98b61560930443ea8c04443c5
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.11 [skip ci]
  plugins/web-terminal/CHANGELOG.md
  plugins/web-terminal/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  b9/f6288f7426478238a95ad683b917d7f9ab8a13
Owners: @janus-idp/maintainers-plugins

fix: also publish the `dist-dynamic` packages
  package.json
Owners: @janus-idp/maintainers-plugins

fix: also publish the `dist-dynamic` packages (#1006)
  package.json
Owners: @janus-idp/maintainers-plugins

fix: attempt to force a bump of backend plugins
  plugins/3scale-backend/dist-dynamic/package.json
  plugins/aap-backend/dist-dynamic/package.json
  plugins/keycloak-backend/dist-dynamic/package.json
  plugins/kiali-backend/dist-dynamic/package.json
  plugins/kubernetes-actions/dist-dynamic/package.json
  plugins/matomo-backend/dist-dynamic/package.json
  plugins/ocm-backend/dist-dynamic/package.json
  plugins/quay-actions/dist-dynamic/package.json
  plugins/regex-actions/dist-dynamic/package.json
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/sonarqube-actions/dist-dynamic/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

fix: attempt to force a bump of backend plugins (#1007)
  plugins/3scale-backend/dist-dynamic/package.json
  plugins/aap-backend/dist-dynamic/package.json
  plugins/keycloak-backend/dist-dynamic/package.json
  plugins/kiali-backend/dist-dynamic/package.json
  plugins/kubernetes-actions/dist-dynamic/package.json
  plugins/matomo-backend/dist-dynamic/package.json
  plugins/ocm-backend/dist-dynamic/package.json
  plugins/quay-actions/dist-dynamic/package.json
  plugins/regex-actions/dist-dynamic/package.json
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/sonarqube-actions/dist-dynamic/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

chore(release): 1.4.10 [skip ci]
  plugins/aap-backend/CHANGELOG.md
  plugins/aap-backend/dist-dynamic/package.json
  plugins/aap-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  6c/59ad3b9c1b45802ff5cbb40e4fbf2a0e5b488b
Owners: @janus-idp/maintainers-plugins

fix: add the NPM token for secondary npm publish
  .github/actions/build/action.yaml
  .github/workflows/push.yaml
Owners: @janus-idp/maintainers-plugins

fix: add the NPM token for the `npm publish` of `dist-dynamic` packages (#1008)
  .github/actions/build/action.yaml
  .github/workflows/push.yaml
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.6 [skip ci]
  plugins/matomo-backend/CHANGELOG.md
  plugins/matomo-backend/dist-dynamic/package.json
  plugins/matomo-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  8f/f4f355087d40fec902829bbbf793508e370081
Owners: @janus-idp/maintainers-plugins

fix(ci): auth for the `dist-dynamic` npm publish
  .github/actions/build/action.yaml
  .github/workflows/push.yaml
Owners: @janus-idp/maintainers-plugins

fix(ci): auth for the `dist-dynamic` npm publish (#1009)
  .github/actions/build/action.yaml
  .github/workflows/push.yaml
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.5 [skip ci]
  plugins/kubernetes-actions/CHANGELOG.md
  plugins/kubernetes-actions/dist-dynamic/package.json
  plugins/kubernetes-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  34/651aacfa4efa4f26bbdc8c4d42128623431c93
Owners: @janus-idp/maintainers-plugins

fix(ci): auth for the `dist-dynamic` npm publish
  package.json
Owners: @janus-idp/maintainers-plugins

fix(ci): auth for the `dist-dynamic` `npm publish` (#1010)
  package.json
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.6 [skip ci]
  plugins/servicenow-actions/CHANGELOG.md
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  01/b63707e431c6c6851f85a6a67f5eead181e33b
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.10 [skip ci]
  plugins/3scale-backend/CHANGELOG.md
  plugins/3scale-backend/dist-dynamic/package.json
  plugins/3scale-backend/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra
