Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra

feat(orchestrator): orchestrator plugin entry page & workflows table (#31)
  plugins/orchestrator/package.json
  plugins/orchestrator/src/__fixtures__/fakeProcessInstance.ts
  plugins/orchestrator/src/__fixtures__/fakeWorkflowItem.ts
  plugins/orchestrator/src/api/MockOrchestratorClient.ts
  plugins/orchestrator/src/components/Router.tsx
  plugins/orchestrator/src/components/next/BaseOrchestratorPage.tsx
  plugins/orchestrator/src/components/next/OrchestratorPage.stories.tsx
  plugins/orchestrator/src/components/next/OrchestratorPage.tsx
  plugins/orchestrator/src/components/next/WorkflowsTable.stories.tsx
  plugins/orchestrator/src/components/next/WorkflowsTable.tsx
  plugins/orchestrator/src/routes.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins

fetch only one overview obj
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-backend/src/service/router.ts
Owners: @janus-idp/maintainers-plugins

feat: introduced the workflows/overview endpoint (#36)
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-backend/src/service/router.ts
  plugins/orchestrator-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

feat(orchestrator): orchestrator plugin entry page & workflows table (#31)
  plugins/orchestrator/package.json
  plugins/orchestrator/src/__fixtures__/fakeProcessInstance.ts
  plugins/orchestrator/src/__fixtures__/fakeWorkflowItem.ts
  plugins/orchestrator/src/api/MockOrchestratorClient.ts
  plugins/orchestrator/src/components/Router.tsx
  plugins/orchestrator/src/components/next/BaseOrchestratorPage.tsx
  plugins/orchestrator/src/components/next/OrchestratorPage.stories.tsx
  plugins/orchestrator/src/components/next/OrchestratorPage.tsx
  plugins/orchestrator/src/components/next/WorkflowsTable.stories.tsx
  plugins/orchestrator/src/components/next/WorkflowsTable.tsx
  plugins/orchestrator/src/routes.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins

fix(orchestrator): make the port config optional (#37)
  plugins/orchestrator-backend/config.d.ts
  plugins/orchestrator-backend/src/provider/OrchestratorEntityProvider.ts
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
Owners: @janus-idp/maintainers-plugins

Update yarn.lock after rebase
  plugins/notifications-backend/package.json
  yarn.lock
Owners: @janus-idp/maintainers-plugins

Notifications-frontend install instructions and deregister
  packages/app/src/App.tsx
  packages/app/src/components/Root/Root.tsx
  plugins/notifications-frontend/README.md
  plugins/notifications-frontend/src/index.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

Notifications-backend install instructions and deregister
  app-config.yaml
  packages/backend/src/index.ts
  packages/backend/src/plugins/notifications.ts
  plugins/notifications-backend/README.md
  plugins/notifications-backend/users.yaml
  plugins/notifications-frontend/README.md
Owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @mareklibra

feat(orchestrator): introduced `workflows/:workflowId/overview` endpoint (#40)
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-backend/src/service/router.ts
Owners: @janus-idp/maintainers-plugins

feat(orchestrator): add Workflow Run List (#30)
  plugins/orchestrator/src/__fixtures__/fakeProcessInstance.ts
  plugins/orchestrator/src/components/next/OrchestratorPage.stories.tsx
  plugins/orchestrator/src/components/next/OrchestratorPage.tsx
  plugins/orchestrator/src/components/next/ProcessInstanceStatus.tsx
  plugins/orchestrator/src/components/next/StatusSelector.tsx
  plugins/orchestrator/src/components/next/TableExpandCollapse.tsx
  plugins/orchestrator/src/components/next/WorkflowRunList.stories.tsx
  plugins/orchestrator/src/components/next/WorkflowRunListContent.tsx
  plugins/orchestrator/src/components/next/WorkflowSelector.tsx
  plugins/orchestrator/src/components/next/WorkflowsTableContent.tsx
  plugins/orchestrator/src/components/next/WrapperInfoCard.tsx
  plugins/orchestrator/src/components/next/utils.ts
Owners: @janus-idp/maintainers-plugins

chore(orchestrator): implement the WorkflowViewerFormatter (#41)
  plugins/orchestrator/src/dataFormatters/DataFormatter.ts
  plugins/orchestrator/src/dataFormatters/WorkflowOverviewFormatter.test.ts
  plugins/orchestrator/src/dataFormatters/WorkflowOverviewFormatter.ts
Owners: @janus-idp/maintainers-plugins

fix(cli): schema generator do not ignore repo root
  packages/cli/src/lib/schema/collect.ts
Owners: @janus-idp/maintainers-plugins

FLPATH-749 : basic pagination support for /instances endpoint
  plugins/orchestrator-backend/src/helpers/queryBuilder.ts
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-backend/src/service/router.ts
  plugins/orchestrator-backend/src/types/pagination.ts
Owners: @janus-idp/maintainers-plugins

fix(cli): schema generator do not ignore repo root (#981)
  packages/cli/src/lib/schema/collect.ts
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.4 [skip ci]
  plugins/matomo-backend/CHANGELOG.md
  plugins/matomo-backend/dist-dynamic/package.json
  plugins/matomo-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  57/bb366018e3273116015225e3082108f7a2e36a
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.6 [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  a6/ddea23469178c2bba171ef59c75b2d09712545
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.8 [skip ci]
  plugins/3scale-backend/CHANGELOG.md
  plugins/3scale-backend/dist-dynamic/package.json
  plugins/3scale-backend/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  13/3c0299133640c3ed160d55616ce2f39801c1c9
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.8 [skip ci]
  plugins/aap-backend/CHANGELOG.md
  plugins/aap-backend/dist-dynamic/package.json
  plugins/aap-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  1e/9e3393bdd988c8d7e09805150f28c7b3f09e9f
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.13 [skip ci]
  plugins/acr/CHANGELOG.md
  plugins/acr/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  6e/ce8229f6b9376e9ca79fb82b5e511ab5bc4e2f
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.2 [skip ci]
  plugins/analytics-provider-segment/CHANGELOG.md
  plugins/analytics-provider-segment/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  80/d9c68f39942350647dbeabfd75a1172be19e0f
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.13 [skip ci]
  plugins/jfrog-artifactory/CHANGELOG.md
  plugins/jfrog-artifactory/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  fd/878323f2e04befb4b0f830b36d3f3d37afbf33
Owners: @janus-idp/maintainers-plugins

chore(release): 1.7.8 [skip ci]
  plugins/keycloak-backend/CHANGELOG.md
  plugins/keycloak-backend/dist-dynamic/package.json
  plugins/keycloak-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  e0/42cca58a81f5e2035e4b16ba908db1526377fd
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.11 [skip ci]
  plugins/kiali/CHANGELOG.md
  plugins/kiali/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  fe/c0b67794a6376e54ccbbd136b3058792477fb1
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.3 [skip ci]
  plugins/kiali-backend/CHANGELOG.md
  plugins/kiali-backend/dist-dynamic/package.json
  plugins/kiali-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  ce/dafc5f48ce88d11bcd89738dd748e732af54a1
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.3 [skip ci]
  plugins/kubernetes-actions/CHANGELOG.md
  plugins/kubernetes-actions/dist-dynamic/package.json
  plugins/kubernetes-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  e6/6abf4b8245d828fc0a55ee33b7bec18232e324
Owners: @janus-idp/maintainers-plugins

chore(release): 1.1.12 [skip ci]
  plugins/matomo/CHANGELOG.md
  plugins/matomo/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  0c/2690b0e4499e0af226b4d3e3b3b46910e439da
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.13 [skip ci]
  plugins/nexus-repository-manager/CHANGELOG.md
  plugins/nexus-repository-manager/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  e9/c87a80b1b40409cc76c3877acee6062c135b2e
Owners: @janus-idp/maintainers-plugins
