Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @AndrienkoAleksandr, @PatAKnight, @janus-idp/notifications, @janus-idp/orchestrator-codeowners, @janus-idp/devex-uxe, @janus-idp/kiali, @janus-idp/rhtap

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/         @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/            @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/                  @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/              @janus-idp/maintainers-plugins @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/               @janus-idp/maintainers-plugins @AndrienkoAleksandr @PatAKnight
/plugins/notifications              @janus-idp/maintainers-plugins @janus-idp/notifications
/plugins/notifications-backend      @janus-idp/maintainers-plugins @janus-idp/notifications
/plugins/orchestrator               @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/orchestrator-backend       @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/orchestrator-common        @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/feedback                   @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/feedback-backend           @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/matomo                     @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/matomo-backend             @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/analytics-module-matomo    @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/kiali                      @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/kiali-backend              @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/kiali-common               @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/quay                       @janus-idp/rhtap
/plugins/tekton                     @janus-idp/rhtap
/plugins/argocd                     @janus-idp/rhtap

chore(release): 1.5.6 [skip ci]
  plugins/nexus-repository-manager/CHANGELOG.md
  plugins/nexus-repository-manager/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  ce/87c28cca0a2f475c0128c33a87050cdd431945
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.6 [skip ci]
  plugins/notifications/CHANGELOG.md
  plugins/notifications/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/notifications

Notes added by 'git notes add'
  84/e06889ee343380dec2d797e677f0f6ad5b8fcb
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.12 [skip ci]
  plugins/notifications-backend/CHANGELOG.md
  plugins/notifications-backend/dist-dynamic/package.json
  plugins/notifications-backend/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/notifications

Notes added by 'git notes add'
  9e/42b42a51fe72ba00d5b93cfd2985f248be910a
Owners: @janus-idp/maintainers-plugins

chore(release): 4.0.2 [skip ci]
  plugins/ocm/CHANGELOG.md
  plugins/ocm/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  d5/3d2384e2461cd582145f0e660477ee77a94a1e
Owners: @janus-idp/maintainers-plugins

chore(release): 4.0.2 [skip ci]
  plugins/ocm-backend/CHANGELOG.md
  plugins/ocm-backend/dist-dynamic/package.json
  plugins/ocm-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  41/196d4e76da41d790dde1ec0d83b987866301b2
Owners: @janus-idp/maintainers-plugins

chore(release): 3.0.1 [skip ci]
  plugins/ocm-common/CHANGELOG.md
  plugins/ocm-common/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  cf/3ceefde50c4552954004cc87f1346b5c091647
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.6 [skip ci]
  plugins/openshift-image-registry/CHANGELOG.md
  plugins/openshift-image-registry/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  14/e97f246f9decaa80c8a5364b5cfc2314e3b9aa
Owners: @janus-idp/maintainers-plugins

chore(release): 1.11.1 [skip ci]
  plugins/orchestrator/CHANGELOG.md
  plugins/orchestrator/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/orchestrator-codeowners

Notes added by 'git notes add'
  9a/46cba73bff910d7133612d3c7d4f01c3685e94
Owners: @janus-idp/maintainers-plugins

chore(release): 1.8.2 [skip ci]
  plugins/orchestrator-backend/CHANGELOG.md
  plugins/orchestrator-backend/dist-dynamic/package.json
  plugins/orchestrator-backend/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/orchestrator-codeowners

Notes added by 'git notes add'
  be/3a214bf0ad337c805a0f398f2d2c1093697901
Owners: @janus-idp/maintainers-plugins

chore(release): 1.7.1 [skip ci]
  plugins/orchestrator-common/CHANGELOG.md
  plugins/orchestrator-common/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/orchestrator-codeowners

Notes added by 'git notes add'
  bf/7c373eee8e6d9e7525ab73dfb1b76996b75238
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.7 [skip ci]
  plugins/quay/CHANGELOG.md
  plugins/quay/package.json
Owners: @janus-idp/rhtap

Notes added by 'git notes add'
  84/f0c81c5d2c8cc8344b1caec2474a25d18bf272
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.6 [skip ci]
  plugins/quay-actions/CHANGELOG.md
  plugins/quay-actions/dist-dynamic/package.json
  plugins/quay-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  d0/6bc43834576fa2302262a59aafd589d1020dd2
Owners: @janus-idp/maintainers-plugins

chore(release): 1.18.2 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  2a/ca7551a37793b4eea8180ec9591e47c9c4e7ec
Owners: @janus-idp/maintainers-plugins

chore(release): 2.8.2 [skip ci]
  plugins/rbac-backend/CHANGELOG.md
  plugins/rbac-backend/package.json
Owners: @janus-idp/maintainers-plugins, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  71/8ffc8633e1a9d50e64341b37a3fbbb37d53560
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.2 [skip ci]
  plugins/rbac-common/CHANGELOG.md
  plugins/rbac-common/package.json
Owners: @janus-idp/maintainers-plugins, @AndrienkoAleksandr, @PatAKnight

Notes added by 'git notes add'
  b3/281f4c220651c28fafc3f5d1a82d2a6e1c5b87
Owners: @janus-idp/maintainers-plugins

chore(release): 1.1.1 [skip ci]
  plugins/rbac-node/CHANGELOG.md
  plugins/rbac-node/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  3a/c0fdb6a0a9dd113e56439bc35071e17d9695cf
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.6 [skip ci]
  plugins/regex-actions/CHANGELOG.md
  plugins/regex-actions/dist-dynamic/package.json
  plugins/regex-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  64/500e269e9092e2893b174466a79abd6f973197
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.7 [skip ci]
  plugins/servicenow-actions/CHANGELOG.md
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  72/7b97e64d46d892785419f553080d762acf4ea0
Owners: @janus-idp/maintainers-plugins

chore(release): 2.6.1 [skip ci]
  plugins/shared-react/CHANGELOG.md
  plugins/shared-react/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  e2/6163cd5846afa57b6bc221e6b1bcd93c9b7c26
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.6 [skip ci]
  plugins/sonarqube-actions/CHANGELOG.md
  plugins/sonarqube-actions/dist-dynamic/package.json
  plugins/sonarqube-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  4b/12a2c2543dbd47e54d30fd02355b438eace813
Owners: @janus-idp/maintainers-plugins
