Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @gorkem, @AndrienkoAleksandr, @PatAKnight, @mareklibra

Fix package.json after rebase
  packages/app/package.json
  packages/backend/package.json
  packages/backend/src/plugins/notifications.ts
  plugins/notifications-backend/package.json
Owners: @janus-idp/maintainers-plugins

FLPATH-738: render actions horizontally
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

add indexes to db columns flpath727 https://issues.redhat.com/browse/FLPATH-727
  plugins/notifications-backend/src/service/db.ts
Owners: @janus-idp/maintainers-plugins

add defaults for GET requests FLPATH-669 https://issues.redhat.com/browse/FLPATH-669
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

FLPATH-738: use a dropdown for the Unread filter
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsToolbar.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

openapi yaml for rest api FLPATH-748 https://issues.redhat.com/browse/FLPATH-748
  plugins/notifications-backend/src/openapi.yaml
Owners: @janus-idp/maintainers-plugins

FLPATH-738: Change "mark as read" icons
  plugins/notifications-frontend/src/components/NotificationsTable/MarkAsUnreadIcon.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
Owners: @janus-idp/maintainers-plugins, @mareklibra

Fix required action fields in the OpenApi spec
  plugins/notifications-backend/src/openapi.yaml
Owners: @janus-idp/maintainers-plugins

Add debouncing to the search filter
  plugins/notifications-frontend/package.json
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/constants.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add openapi client generator to the notifications-frontend
  plugins/notifications-frontend/package.json
  plugins/notifications-frontend/src/openapi/.openapi-generator-ignore
  plugins/notifications-frontend/src/openapi/.openapi-generator/FILES
  plugins/notifications-frontend/src/openapi/.openapi-generator/VERSION
  plugins/notifications-frontend/src/openapi/README.md
Owners: @janus-idp/maintainers-plugins, @mareklibra

Make 'count' required in response
  plugins/notifications-backend/src/openapi.yaml
Owners: @janus-idp/maintainers-plugins

add cascade to foreign key in actions table
  plugins/notifications-backend/src/service/db.ts
Owners: @janus-idp/maintainers-plugins

create DB client in BE that supports all Knex configuration flpath-660 https://issues.redhat.com/browse/FLPATH-660
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/service/db.ts
Owners: @janus-idp/maintainers-plugins

add date-time format to time fields
  plugins/notifications-backend/src/openapi.yaml
Owners: @janus-idp/maintainers-plugins

Update frontend to use generated openapi calls
  plugins/notifications-frontend/src/api/NotificationsApiImpl.ts
  plugins/notifications-frontend/src/api/notificationsApi.ts
  plugins/notifications-frontend/src/components/NotificationsSidebarItem.tsx
  plugins/notifications-frontend/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications-frontend/src/components/SendNotification/SendNotification.tsx
  plugins/notifications-frontend/src/plugin.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

Remove notifications-common from FE dependencies
  plugins/notifications-frontend/package.json
Owners: @janus-idp/maintainers-plugins, @mareklibra

Add ts-nocheck to generated OpenApi code
  plugins/notifications-frontend/package.json
Owners: @janus-idp/maintainers-plugins, @mareklibra

Regenerate openapi
  plugins/notifications-frontend/src/openapi/apis/NotificationsApi.ts
  plugins/notifications-frontend/src/openapi/apis/index.ts
  plugins/notifications-frontend/src/openapi/index.ts
  plugins/notifications-frontend/src/openapi/models/Action.ts
  plugins/notifications-frontend/src/openapi/models/CreateBody.ts
  plugins/notifications-frontend/src/openapi/models/CreateBodyActionsInner.ts
  plugins/notifications-frontend/src/openapi/models/CreateNotification200Response.ts
  plugins/notifications-frontend/src/openapi/models/GetNotificationsCount200Response.ts
  plugins/notifications-frontend/src/openapi/models/Notification.ts
  plugins/notifications-frontend/src/openapi/models/index.ts
  plugins/notifications-frontend/src/openapi/runtime.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

Regenerate openapi client in the frontend
  plugins/notifications-frontend/openapitools.json
  plugins/notifications-frontend/src/openapi/apis/NotificationsApi.ts
  plugins/notifications-frontend/src/openapi/apis/index.ts
  plugins/notifications-frontend/src/openapi/index.ts
  plugins/notifications-frontend/src/openapi/models/Action.ts
  plugins/notifications-frontend/src/openapi/models/CreateBody.ts
  plugins/notifications-frontend/src/openapi/models/CreateBodyActionsInner.ts
  plugins/notifications-frontend/src/openapi/models/CreateNotification200Response.ts
  plugins/notifications-frontend/src/openapi/models/GetNotificationsCount200Response.ts
  plugins/notifications-frontend/src/openapi/models/Notification.ts
  plugins/notifications-frontend/src/openapi/models/index.ts
  plugins/notifications-frontend/src/openapi/runtime.ts
Owners: @janus-idp/maintainers-plugins, @mareklibra

to epoc timestamp
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

suppress eslint warning
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
Owners: @janus-idp/maintainers-plugins

fix(orchestrator): make the port config optional (#37)
  plugins/orchestrator-backend/config.d.ts
  plugins/orchestrator-backend/src/provider/OrchestratorEntityProvider.ts
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
Owners: @janus-idp/maintainers-plugins

fix(servicenow-actions): revert `node-fetch` dep
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/dist-dynamic/yarn.lock
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-plugins

epoc number to string
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

make all string fields optional
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

use a simple for loop
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
Owners: @janus-idp/maintainers-plugins

fix(servicenow-actions): revert `node-fetch` dep (#973)
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/dist-dynamic/yarn.lock
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-plugins

chore: sync yarn.lock
  yarn.lock
Owners: @janus-idp/maintainers-plugins

chore: sync yarn.lock (#977)
  yarn.lock
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.3 [skip ci]
  plugins/servicenow-actions/CHANGELOG.md
  plugins/servicenow-actions/dist-dynamic/package.json
  plugins/servicenow-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  e7/1905cab8a80d4a5bcab981dbf35cc60f56f593
Owners: @janus-idp/maintainers-plugins

feat(rbac): list roles
  packages/backend/package.json
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/DeleteDialogContext.tsx
  plugins/rbac/src/components/DeleteRole.tsx
  plugins/rbac/src/components/DeleteRoleDialog.tsx
  plugins/rbac/src/components/RbacPage.test.tsx
  plugins/rbac/src/components/RbacPage.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/components/RolesListColumns.tsx
  plugins/rbac/src/components/ToastContext.tsx
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/types.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins

extracted to a new method
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
Owners: @janus-idp/maintainers-plugins

rename to lastTriggeredMs
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

feat(rbac): list roles (#937)
  packages/backend/package.json
  plugins/rbac/dev/index.tsx
  plugins/rbac/package.json
  plugins/rbac/src/api/RBACBackendClient.ts
  plugins/rbac/src/components/DeleteDialogContext.tsx
  plugins/rbac/src/components/DeleteRole.tsx
  plugins/rbac/src/components/DeleteRoleDialog.tsx
  plugins/rbac/src/components/RbacPage.test.tsx
  plugins/rbac/src/components/RbacPage.tsx
  plugins/rbac/src/components/RolesList.test.tsx
  plugins/rbac/src/components/RolesList.tsx
  plugins/rbac/src/components/RolesListColumns.tsx
  plugins/rbac/src/components/ToastContext.tsx
  plugins/rbac/src/hooks/useRoles.ts
  plugins/rbac/src/types.ts
  plugins/rbac/src/utils/rbac-utils.test.ts
  plugins/rbac/src/utils/rbac-utils.ts
  yarn.lock
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.0 [skip ci]
  plugins/rbac/CHANGELOG.md
  plugins/rbac/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  ec/78851bf7df96910ae096ae05a42c10dd0a3eeb
Owners: @janus-idp/maintainers-plugins

include uri in the WorkflowOverview type
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

mark avgDurationMs as optional
  plugins/orchestrator-backend/src/service/SonataFlowService.ts
  plugins/orchestrator-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

remove notifications-common FLPATH-755 https://issues.redhat.com/browse/FLPATH-755
  plugins/notifications-backend/README.md
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/service/handlers.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-backend/src/service/types.ts
  plugins/notifications-common/.eslintrc.js
  plugins/notifications-common/README.md
  plugins/notifications-common/package.json
  plugins/notifications-common/src/index.ts
  plugins/notifications-common/tsconfig.json
  plugins/notifications-common/turbo.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/  @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/     @janus-idp/maintainers-plugins @fmenesesg
/plugins/quay/               @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/           @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/tekton/             @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/       @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/        @janus-idp/maintainers-plugins @gorkem @AndrienkoAleksandr @PatAKnight
/plugins/notifications-frontend  @janus-idp/maintainers-plugins @mareklibra
