Repository janus-idp/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janus-idp/maintainers-plugins, @janus-idp/maintainers-docs, @fmenesesg, @debsmita1, @divyanshiGupta, @AndrienkoAleksandr, @PatAKnight, @janus-idp/notifications, @janus-idp/orchestrator-codeowners, @janus-idp/devex-uxe, @janus-idp/kiali, @janus-idp/rhtap

chore: use the new Events service in the Showcase (#1608)
  packages/backend/src/index.ts
  packages/backend/src/types.ts
  plugins/orchestrator-backend/dev/index.ts
  plugins/orchestrator-backend/src/run.ts
Owners: @janus-idp/maintainers-plugins, @janus-idp/orchestrator-codeowners

fix react
  plugins/orchestrator/package.json
  yarn.lock
Owners: @janus-idp/maintainers-plugins, @janus-idp/orchestrator-codeowners

chore(release): 1.0.0 [skip ci]
  plugins/scaffolder-annotator-action/CHANGELOG.md
  plugins/scaffolder-annotator-action/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  de/dad31266df4c3d203a59d7780c8608a376bcac
Owners: @janus-idp/maintainers-plugins

chore: convert helper function into helper class
  plugins/audit-log-common/src/DefaultAuditLogger.ts
  plugins/audit-log-common/src/auditLogging.ts
  plugins/audit-log-common/src/index.ts
  plugins/audit-log-common/src/setupTests.ts
  plugins/audit-log-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

chore: update type names
  plugins/audit-log-common/src/DefaultAuditLogger.ts
  plugins/audit-log-common/src/types.ts
Owners: @janus-idp/maintainers-plugins

chore(release): 1.1.1 [skip ci]
  plugins/dynamic-plugins-info/CHANGELOG.md
  plugins/dynamic-plugins-info/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  a9/289905e69a429d9889f24568b0fcddc728df65
Owners: @janus-idp/maintainers-plugins

chore(release): 1.8.6 [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  b8/7c83749d4610a44664719b275bf27bbdede40a
Owners: @janus-idp/maintainers-plugins

chore(release): 1.5.6 [skip ci]
  plugins/3scale-backend/CHANGELOG.md
  plugins/3scale-backend/dist-dynamic/package.json
  plugins/3scale-backend/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  58/dfd9ad1e6a9f165ac04d3aef60e902297497e0
Owners: @janus-idp/maintainers-plugins

chore(release): 1.6.6 [skip ci]
  plugins/aap-backend/CHANGELOG.md
  plugins/aap-backend/dist-dynamic/package.json
  plugins/aap-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  a1/d6590d30cea9703ecfb164505c0fe1f5f8b759
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.6 [skip ci]
  plugins/acr/CHANGELOG.md
  plugins/acr/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  0f/068e6942b2c7463a18a4d3291c3185cb409a3b
Owners: @janus-idp/maintainers-plugins

chore(release): 1.1.13 [skip ci]
  plugins/analytics-module-matomo/CHANGELOG.md
  plugins/analytics-module-matomo/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/devex-uxe

Notes added by 'git notes add'
  0b/7f71d9999958a8d2642f858f29434290ab7411
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.6 [skip ci]
  plugins/analytics-provider-segment/CHANGELOG.md
  plugins/analytics-provider-segment/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  d0/459bf524f25f9a7cd1ac99160ef9ebb5dc9c13
Owners: @janus-idp/maintainers-plugins

chore(release): 1.0.3 [skip ci]
  plugins/argocd/CHANGELOG.md
  plugins/argocd/package.json
Owners: @janus-idp/rhtap

Notes added by 'git notes add'
  71/0ef977d32ef324fc3c0e2535829ff957dc0393
Owners: @janus-idp/maintainers-plugins

chore(release): 1.1.7 [skip ci]
  plugins/feedback/CHANGELOG.md
  plugins/feedback/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/devex-uxe

Notes added by 'git notes add'
  fd/68153f1eec3ddb20256579e2f96b28ed1c3bd0
Owners: @janus-idp/maintainers-plugins

chore(release): 1.2.6 [skip ci]
  plugins/feedback-backend/CHANGELOG.md
  plugins/feedback-backend/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/devex-uxe

Notes added by 'git notes add'
  98/96d232d1efa4510a5a885ebd8abba325e93b0f
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.6 [skip ci]
  plugins/jfrog-artifactory/CHANGELOG.md
  plugins/jfrog-artifactory/package.json
Owners: @janus-idp/maintainers-plugins, @fmenesesg

Notes added by 'git notes add'
  89/9475b163760f7385de9bdc92cc90ccfeffcd44
Owners: @janus-idp/maintainers-plugins

chore(release): 1.9.6 [skip ci]
  plugins/keycloak-backend/CHANGELOG.md
  plugins/keycloak-backend/dist-dynamic/package.json
  plugins/keycloak-backend/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  d3/317580b39ffc2dd0ec0604d5bf516051469fb0
Owners: @janus-idp/maintainers-plugins

chore(release): 1.17.2 [skip ci]
  plugins/kiali/CHANGELOG.md
  plugins/kiali/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/kiali

Notes added by 'git notes add'
  e5/432c8cc375d3f3f5fcddb411f72603c59fa750
Owners: @janus-idp/maintainers-plugins

chore(release): 1.10.14 [skip ci]
  plugins/kiali-backend/CHANGELOG.md
  plugins/kiali-backend/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/kiali

Notes added by 'git notes add'
  2e/748f907622b62307e6fc080c476507d412dfcc
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.6 [skip ci]
  plugins/kubernetes-actions/CHANGELOG.md
  plugins/kubernetes-actions/package.json
Owners: @janus-idp/maintainers-docs, @janus-idp/maintainers-plugins

Notes added by 'git notes add'
  62/8a46dae13ae4356b88c985102197ed80767c90
Owners: @janus-idp/maintainers-plugins

chore(release): 1.3.6 [skip ci]
  plugins/matomo/CHANGELOG.md
  plugins/matomo/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/devex-uxe

Notes added by 'git notes add'
  ed/c795a83b8204c3e78a61efa9c68f1507bce2fe
Owners: @janus-idp/maintainers-plugins

chore(release): 1.4.6 [skip ci]
  plugins/matomo-backend/CHANGELOG.md
  plugins/matomo-backend/dist-dynamic/package.json
  plugins/matomo-backend/package.json
Owners: @janus-idp/maintainers-plugins, @janus-idp/devex-uxe

Notes added by 'git notes add'
  96/9bd6a993256b4fd77fad9bda84bd8827e14d21
Owners: @janus-idp/maintainers-plugins

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                            @janus-idp/maintainers-plugins
yarn.lock                    @janus-idp/maintainers-plugins
*/yarn.lock                  @janus-idp/maintainers-plugins

# Documentation:
*.md                         @janus-idp/maintainers-docs

# Plugin specific owners:
/plugins/jfrog-artifactory/         @janus-idp/maintainers-plugins @fmenesesg
/plugins/3scale-backend/            @janus-idp/maintainers-plugins @fmenesesg
/plugins/topology/                  @janus-idp/maintainers-plugins @debsmita1 @divyanshiGupta
/plugins/rbac-backend/              @janus-idp/maintainers-plugins @AndrienkoAleksandr @PatAKnight
/plugins/rbac-common/               @janus-idp/maintainers-plugins @AndrienkoAleksandr @PatAKnight
/plugins/notifications              @janus-idp/maintainers-plugins @janus-idp/notifications
/plugins/notifications-backend      @janus-idp/maintainers-plugins @janus-idp/notifications
/plugins/orchestrator               @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/orchestrator-backend       @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/orchestrator-common        @janus-idp/maintainers-plugins @janus-idp/orchestrator-codeowners
/plugins/feedback                   @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/feedback-backend           @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/matomo                     @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/matomo-backend             @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/analytics-module-matomo    @janus-idp/maintainers-plugins @janus-idp/devex-uxe
/plugins/kiali                      @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/kiali-backend              @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/kiali-common               @janus-idp/maintainers-plugins @janus-idp/kiali
/plugins/quay                       @janus-idp/rhtap
/plugins/tekton                     @janus-idp/rhtap
/plugins/argocd                     @janus-idp/rhtap
