Repository janus-idp/backstage-plugins, pull requests merged in 2023-04, with the labels that each got.

#193 feat(topology): added visualization of SS, DS, CJ and Jobs in the topology view
  plugins/topology/src/__fixtures__/1-deployments.ts
  plugins/topology/src/__fixtures__/kubernetesObject.ts
  plugins/topology/src/components/Topology/TopologyComponent.tsx
  plugins/topology/src/data-transforms/data-transformer.test.ts
  plugins/topology/src/hooks/useAllWatchResources.test.ts
  plugins/topology/src/models.ts
  plugins/topology/src/types/types.ts
  plugins/topology/src/utils/pod-resource-utils.test.ts
  plugins/topology/src/utils/pod-resource-utils.ts
  plugins/topology/src/utils/pod-ring-utils.ts
  plugins/topology/src/utils/resource-utils.test.ts
  plugins/topology/src/utils/resource-utils.ts
  plugins/topology/src/utils/topology-utils.ts
  plugins/topology/src/utils/transform-utils.test.ts
Labels: kind/story

#226 feat(topology): Add topology workload node sidebar
  plugins/topology/src/__fixtures__/1-deployments.ts
  plugins/topology/src/__fixtures__/workloadNodeData.ts
  plugins/topology/src/components/Graph/WorkloadNode.tsx
  plugins/topology/src/components/Pods/PodSet.tsx
  plugins/topology/src/components/Pods/PodStatus.css
  plugins/topology/src/components/Topology/TopologyComponent.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologyDeploymentDetails.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologyDeploymentDetails.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologyDetailsTabPanel.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologyDetailsTabPanel.test.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologyDetailsTabPanel.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologyResourceLabels.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologyResourceLabels.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologyResourcesTabPanel.test.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologyResourcesTabPanel.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologyResourcesTabPanelItem.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologyResourcesTabPaneltem.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBar.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBar.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarBody.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarBody.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarContent.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarContent.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarDetailsItem.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarDetailsItem.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarHeading.css
  plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarHeading.tsx
  plugins/topology/src/components/Topology/TopologyViewWorkloadComponent.tsx
  plugins/topology/src/data-transforms/data-transformer.ts
  plugins/topology/src/hooks/useSideBar.tsx
  plugins/topology/src/models.ts
  plugins/topology/src/types/ingresses.ts
  plugins/topology/src/utils/resource-utils.test.ts
  plugins/topology/src/utils/resource-utils.ts
  plugins/topology/src/utils/topology-utils.ts
  plugins/topology/src/utils/workload-node-utils.ts
Labels: kind/story

#258 fix(topology): Get selected-node if data-model available
  plugins/topology/src/components/Topology/TopologyViewWorkloadComponent.tsx
Labels: bug, plugin/topology

#256 feat(topology): Show ingress rules in sidebar
  plugins/topology/package.json
  plugins/topology/src/components/Topology/TopologySideBar/IngressRules.tsx
  plugins/topology/src/components/Topology/TopologySideBar/TopologyResourcesTabPanel.tsx
Labels: kind/story, plugin/topology

#253 feat(tekton): tekton pipeline run list sort
  plugins/tekton/src/components/PipelineRunList/PipelineRunHeader.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunList.test.tsx
  plugins/tekton/src/components/PipelineRunList/PipelineRunList.tsx
  plugins/tekton/src/components/Table/Table.tsx
  plugins/tekton/src/components/Tekton/TektonComponent.test.tsx
  plugins/tekton/src/components/Tekton/TektonErrorPanel.tsx
  plugins/tekton/src/components/common/ClusterSelector.tsx
  plugins/tekton/src/hooks/useTableData.test.ts
  plugins/tekton/src/hooks/useTableData.ts
Labels: kind/story, plugin/tekton

#281 docs: review for Quay plugin
  plugins/quay/README.md
Labels: documentation
